GWSS_morphological_markers/seq_data
GWSS_morphological_markers/i5k
GWSS_morphological_markers/GWSS_phmmer/old_results
GWSS_morphological_markers/GWSS_phmmer/Fasttree
GWSS_morphological_markers/GWSS_phmmer/data
GWSS_scaffold/scaffold_vs_i5k/data
GWSS_scaffold/scaffold_vs_i5k/ragtag_scaffold_contigs
GWSS_scaffold/scaffold_vs_i5k/ragtag_correct_scaffolds
GWSS_scaffold/scaffold_vs_i5k/quast_results/results_2020_11_20_16_47_11/contigs_reports/minimap_output
GWSS_promoters/data
GWSS_promoters/Fasttree
GWSS_promoters/pull_out_actin_and_flanking_regions/data
