GWSS_morphological_markers/seq_data
GWSS_morphological_markers/i5k
GWSS_morphological_markers/GWSS_phmmer/old_results
GWSS_morphological_markers/GWSS_phmmer/Fasttree
GWSS_morphological_markers/GWSS_phmmer/data
GWSS_scaffold/data
GWSS_scaffold/ragtag_scaffold_contigs
GWSS_scaffold/ragtag_correct_scaffolds
GWSS_promoters